#mainContent {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("notebook.png");
  width: 1920px;
  height: 949px;
  overflow: hidden;
}

#cover {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("cover.png");
  width: 1920px;
  height: 940px;
  overflow: hidden;
  visibility: hidden;  
}

.girl {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 740px;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

#nat {
  background-image: url("nat_stand.png");
  left: 100px;
}

#say {
  background-image: url("say_stand.png");
  left: 250px;
}

#yuri {
  background-image: url("yuri_stand.png");
  left: 400px;
}

.text {
    position: absolute;
    text-align: right;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 45px;
    transform: translate(-50%, -50%);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.text.left {
     left: 826px;
}

.text.right {
     left: 1172px;
}

#text1 {
    top: 265px;
}

#text2 {
    top: 265px;
}

#text3 {
    top: 405px;
}

#text4 {
    top: 405px;
}

#text5 {
    top: 541px;
}

#text6 {
    top: 541px;
}

#text7 {
    top: 679px;
}

#text8 {
    top: 679px;
}

#text9 {
    top: 817px;
}

#text10 {
    top: 817px;
}

.fetext {
    position: absolute;
    text-align: left;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 45px;
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;    
    left: 1460px
}

.speaker {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 95%;
  top: 92%;  
}

#speaker1 {
    background-image: url("speakeron.png");
}

#girlt1 {
    top: 152px;
}

#girlt2 {
    top: 200px;
}

#girlt3 {
    top: 247px;
}